{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau projet{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau projet</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}
